@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: #c5e4e7;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content -webkit-max-content -webkit-min-content;
  -ms-grid-rows: min-content max-content min-content;
  -ms-grid-columns: 1fr;
      grid-template: -webkit-min-content -webkit-max-content min-content/ 1fr;
      grid-template: min-content max-content min-content/ 1fr;
  height: 100vh;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.15rem;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 700;
  color: #5e7a7d;
}

label .error {
  font-size: 0.5rem;
  font-weight: 300;
  color: red;
  letter-spacing: 1px;
}

header {
  text-align: center;
  padding: calc(1.875rem + 0.7vw) 0px;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.5fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1.5fr 1fr / 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  max-width: 925px;
  padding: calc(1.25rem + 3vw);
  gap: 1.5rem calc(1.25rem + 3vw);
  height: 80vh;
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

main .input__sect {
  width: 100%;
  height: 100%;
}

main .input__sect-bill {
  width: 100%;
  position: relative;
  margin-bottom: 2.5rem;
}

main .input__sect-bill input {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.875rem 1rem;
  padding-left: 2.5rem;
  background-color: #f4fafa;
  color: #00494d;
  border: none;
  border-radius: 5px;
  text-align: right;
}

main .input__sect-bill input:focus {
  outline: 2px solid #26c0ab;
}

main .input__sect-bill img {
  position: absolute;
  left: 20px;
  bottom: 18px;
}

main .input__sect-tip {
  margin-bottom: 2.5rem;
}

main .input__sect-tip .tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}

main .input__sect-tip .tips input[type="button"] {
  border: none;
  background-color: #00494d;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  width: 7.5rem;
  height: 3.25rem;
  border-radius: 5px;
}

main .input__sect-tip .tips input[type="text"] {
  width: 7.5rem;
  font-size: 1.5rem;
  padding: 0.875rem 0.2rem;
  background-color: #f4fafa;
  color: #00494d;
  border: none;
  border-radius: 5px;
  text-align: right;
  font-weight: 700;
  letter-spacing: 1px;
}

main .input__sect-tip .tips input[type="text"]:focus {
  outline: 2px solid #26c0ab;
}

main .input__sect-no {
  position: relative;
}

main .input__sect-no input {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.875rem 1rem;
  padding-left: 2.5rem;
  background-color: #f4fafa;
  color: #00494d;
  border: none;
  border-radius: 5px;
  text-align: right;
}

main .input__sect-no input:focus {
  outline: 2px solid #26c0ab;
}

main .input__sect-no img {
  position: absolute;
  left: 20px;
  bottom: 18px;
}

main .output__sect {
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}

@media only screen and (min-width: 930px) {
  main {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1.2fr 1fr;
        grid-template: 1fr / 1.2fr 1fr;
    height: 485px;
    border-radius: 20px;
  }
}

.attribution {
  padding: 10px 0px;
  color: #7f9c9f;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #5e7a7d;
}
/*# sourceMappingURL=style.css.map */